sudo: required
services:
  - docker
branches:
  only:
    - develop
    - master
before_install:
  - docker build -t reverse/testsite testsite/
  - docker login -u $DOCKER_USER -p $DOCKER_PASS -e $DOCKER_EMAIL
  - docker push reverse/testsite
script:
  - if [ $TRAVIS_BRANCH = "develop" ]; then echo "DEV deploy"; fi
  - if [ $TRAVIS_BRANCH = "master" ]; then docker ps -a; fi
